<?xml version='1.0' encoding='utf-8'?>
<widget id="de.mission-mobile.demo.jb.phonegap" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Meine Phonegap Bundle Demo</name>
    <description>
      Meine Phonegap Bundle Demo.
    </description>
    <author email="info@mission-mobile.de" href="http://mission-mobile.de">
        Mission Mobile
    </author>
    <content src="index.html" />
    <access origin="*" subdomains="true" />
    <icon src="icon.png" />
    <icon src="icons/ios/icon.png" platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon_at_2x.png" platform="ios" width="114" height="114" />
    <icon src="icons/ios/icon-72_at_2x.png" platform="ios" width="144" height="144" />
    <splash src="splash.png" />
    <splash src="splash/ios/Retina.png" platform="ios" width="640" height="960" />
    <splash src="splash/ios/Default_Portait.png" platform="ios" width="768" height="1024" />
    <splash src="splash/ios/Default-Landscape.png" platform="ios" width="1024" height="768" />
    <splash src="splash/ios/Classic.png" platform="ios" width="320" height="480" />
    <splash src="splash/ios/iPhone5.png" platform="ios" width="640" height="1136" />
    <splash src="splash/ios/Default-Portrait_2x.png" platform="ios" width="2048" height="1536" />
    <splash src="splash/ios/Default-Landscape_2x.png" platform="ios" width="1536" height="2048" />
    <preference name="fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="splash-screen-duration" value="10000" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="permissions" value="none"/>    
</widget>
